<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA9lnSM74_mNTRrQD5qYCZBeKnEcLwYaHc</string>
	<key>GCM_SENDER_ID</key>
	<string>860113358801</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taskflowApp</string>
	<key>PROJECT_ID</key>
	<string>taskflow-app-1f89f</string>
	<key>STORAGE_BUCKET</key>
	<string>taskflow-app-1f89f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:860113358801:ios:f763714fc504fbce991af0</string>
</dict>
</plist>